*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --main-color:#0F5C34;
    --secundary-color:#000;
    --third-color:#fff;
    --fourth-color: #498F63;
}

/* omvandlinga från rem till px */
html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */

body{
    overflow-x: hidden;
    height: 100vh;
    display:grid;
    font-family:"League Gothic" , sans-serif ;
    grid-template-columns:repeat(5, 1fr) ;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    /*background-color: var(--fourth-color);*/
    /*background-image: url(/img/forest-gf0886727a_1920.jpg);*/

}

footer{
    grid-area: footer;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secundary-color);
}


.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--secundary-color);
    border:var(--main-color) solid 2rem;
    
}

.navbar > div > ul{
    display:flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0 7rem;
}

.navbar a{
    text-decoration: none;
    color:var(--third-color);
    margin: 1rem;
    margin-top: 1rem;
    margin-right:6rem;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  
}

.navbar-img img{
    background: url(/img/Fasader-1024x723\.png) center no-repeat;
    height: 7rem;
    background-size:cover;
    position: relative;
    background-blend-mode: darken;
    
   
}

.navbar-img{
    position: relative;
}

.navbar-img a{
    position: absolute;
    left:50%;
    top:50%;
    color: var(--third-color);
    font-size: 4rem;
    transform: translate(-50%,-50%);
    z-index:99999;
    text-shadow: 2px 2px 1px var(--secundary-color);

}


.navbar-btn{
    display:inline-block;
    padding:1rem 2rem;
    background-color:var(--main-color);
    color:var(--third-color);
    text-decoration: none;
    border-radius: 4rem;
    white-space: nowrap;
}
/*dropdown*/
.dropdown{
    position: relative;
    
    
}

.dropdown-content{
    position: absolute;
    z-index: 999999;
    background-color: var(--main-color);
    display:flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    list-style-type: none;
    border: var(--secundary-color) solid 0.2rem;
    box-shadow: 6px 4px 15px 5px var(--secundary-color);
    text-shadow: 1px 1px 1px var(--secundary-color);
    white-space: nowrap;
}


.dropdown:hover .dropdown-content{
    opacity: 1;
    visibility: visible;
    transition: 0.2s ease;
}
/*pil*/
.dropdown::after{
    content:"";
    position:absolute;
    right:4rem;
    top:45%;
    width: 0px;
    height: 0px;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 1rem solid var(--fourth-color);
    transition: all 0.2s ease;

}

.dropdown:hover::after{
    transform:rotate(180deg);
    transition: all 0.2s ease;
}

.Boking-system {
    background: var(--fourth-color);
	
	border: 1px solid rgba(60, 64, 101, 0.1);
}

.boking-header {
    display: flex;
    align-items: center;
    justify-content: center;
    
	height: 5rem;
	line-height: 110px;
	text-align: center;
}

.boking-header h2{
    height: 6rem;
    margin-bottom: 3rem;
    color: var(--main-color);
    font-size: 3rem;
    
}

.types label{

position: absolute;

}

.boking-text h3{
    color: var(--main-color);
	display: flex;
	height: 30px;
	line-height: 30px;
	font-size: 3rem;
    
}

.types {
    display: flex;
    justify-content:space-between;
    margin: 0 10rem;
    height:4rem;
}

.types div{
    flex: 1 1 auto;
    position: relative;
}

.boking-btn a{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    text-decoration: none;
    color:var(--main-color);
    background-color:var(--secundary-color);
    margin:3rem 60rem;
    border-radius: 2rem;
    box-shadow:  5px 5px 15px 5px rgba(0,0,0,0.46)



}

.card-container{
    display:flex;
    max-width: 90%;
    margin: 3rem auto;
    flex-wrap:wrap;
}



.first-side-img{
    width:100%;
    margin-top:2rem;
}

.card{
    margin: 10px;
    display:flex;
    flex-direction: column;
    flex: 1 1 29%;
    border-radius: 15px;
    overflow:hidden;
    box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.64);
    position: relative;
    height:18rem;
}

.big {
    flex: 1 1 90%;
    height: 30rem;
}

.middle {
    flex: 1 1 45%;
    height: 23rem;
}

.card-img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 50% 50%;    
}

.card-img-1{
    background-image:url(/img/bjertorp_2_s.jpeg);
}
.card-img-2{
    background-image:url(/img/bardisk.jpeg);
}
.card-img-3{
    background-image:url(/img/to-go-biking-g917e452ab_1920.jpg);
}

.card-img-4{
    background-image: url(/img/restaurant-ga8ac36afe_1920.jpg);
}

.card-img-5{
    background-image: url(/img/pool-g8532f8ed0_1920.jpg);
}

.card-img-6{
    background-image: url(/img/audience-gdba5838ad_1920.jpg);
}

.card-img  > a{
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 999;
}
.img-headline{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: var(--third-color);
    text-decoration: none;
    text-shadow: 3px 3px 3px var(--secundary-color);
    font-size: 5rem;
    text-align: center;
    margin-top:10px;
}

.Line {
    background-image: url(../img/zigzag-rund.svg);
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
    margin-bottom:2rem;
    margin-top:2rem;
    height: 1rem;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Line-img {
    position:absolute;
    height:2rem;
    top: 0.7rem;
    right: 0;
    width: 100%;
    z-index: 2; 
    

}
.Line-headline {
    z-index: 10;
    display: inline-block;
    position: relative;
    max-width: 100%;
    font-weight: bold;
    font-size: 3rem;
    background-color: var(--third-color);
}

footer > *{
    margin-top: 3rem;
}

.footer-content a{
   text-decoration: none;
   color: var(--third-color);
   font-size: 2rem;
   margin: 0 1rem;
   letter-spacing: 0.1rem;
}

.footer-icons a{
    color:var(--secundary-color);
    font-size: 3rem;
    text-decoration: none;
    margin:1rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width:6rem;
    height:6rem;
    background-color: var(--main-color);  
}

.footer-icons a i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all .2s ease-in-out;
}

.footer-icons a i:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.footer-icons a i:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.footer-icons :hover{
    color:var(--third-color)
}




/*Text över bild

.test{
    background: url no-repeat center;
    height: ..rem;
    background-size:cover;
    aspect-ratio:1;
    position: relative;
    background:darken;
}

.test1{
   position: absolute;
   top:50%,
   left:50%;
   transform: translate(-50%,-50%)
   z-index:99999;

}
*/


